/* Remove default margin and padding, add box-sizing rules*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Typography */
a {
  text-decoration: none;
}

hr {
  height: 0.7rem;
  border: none;
  background-color: #000b49;
}

h1 {
  font-size: 5rem;
  line-height: 7rem;
  font-weight: 900;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
}

h3 {
  font-size: 1.3rem;
  padding-bottom: 1.5rem;
}

h4 {
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
}

p {
  font-size: 1.2rem;
  line-height: 2rem;

  text-align: justify;
}

.logo {
  font-weight: 900;
  font-size: 1.8rem;
}

/* Page default padding */
#about-me,
#portfolio,
#experience {
  padding: 4rem 0;
}

/* Header and navigation */
header,
#home-page {
  color: #e9d5da;
  background-color: #8b5fbf;
}

header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-template-rows: minmax(2rem, auto);

  padding: 1rem 2rem;
}

header nav a {
  color: #8b5fbf;

  font-weight: bold;
}

header nav a:hover,
header nav a:visited {
  color: #000b49;
}

header nav ul {
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
}

header nav li {
  background-color: #e9d5da;
  border: 0.3rem solid #8b5fbf;
  border-radius: 0.5rem;

  padding: 0.5rem 0.5rem;

  display: grid;
  place-items: center;
}

header nav li:hover {
  border: 0.3rem solid #000b49;
  background-color: #8b5fbf;
}

/* Main */

/* Homepage */
#home-page {
  display: grid;
  place-items: center;
  padding: 7rem 0 10.5rem 0;
}

#home-page div {
  width: 50%;
  display: grid;
  row-gap: 1.5rem;
}

#home-page p strong {
  color: #000b49;
}

#home-page p span {
  border-bottom: #000b49 solid 3px;
  font-style: italic;
}

/* About-me and Experience general layout */
#about-me > ul,
#experience ul {
  padding: 2rem 0;
  list-style: none;

  display: grid;
  place-items: center;
  row-gap: 3rem;
}

#about-me li,
#experience li {
  width: 50%;
}

/* About-me skills layout*/
.skill-list {
  list-style-type: disc;
  padding-left: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1.8rem;
}

/* Portfolio */
#portfolio {
  background-color: #e9d5da;
}

#portfolio ul {
  padding: 3rem 8rem;

  list-style: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
}

#portfolio ul .project {
  background-color: #fbf8f1;
  padding: 3rem 2rem;
  border: solid 0.7rem #4c0070;
  border-radius: 0.3rem;

  box-shadow: 0.5rem 0.5rem 2rem #4c007040;
}

#portfolio ul .project-link {
  padding-top: 3rem;
  display: grid;
  place-items: center;
  row-gap: 1rem;
}

#portfolio .read-more {
  font-size: 1.3rem;

  padding: 0.5rem 5.5rem;
  color: #fbf8f1;
  background-color: #4c0070;
  border-radius: 0.3rem;
}

#portfolio .read-more:hover,
#portfolio .read-more:visited {
  background-color: #8b5fbf;
}

#portfolio .github-repo {
  color: #4c0070;
  font-weight: bold;
  text-decoration: underline;
}

#portfolio .github-repo:hover,
#portfolio .github-repo:visited {
  color: #8b5fbf;
}

/* Footer */
footer {
  padding: 1rem 2rem;

  background-color: #000b49;
  color: #e9d5da;
}

/* Responsive */
@media screen and (max-width: 1300px) {
  #portfolio ul {
    grid-template-columns: 1fr;
    row-gap: 3rem;
    place-items: center;
  }

  #portfolio ul li {
    max-width: 600px;
    min-width: 400px;
  }

  #about-me li {
    min-width: 300px;
  }

  #experience li {
    min-width: 500px;
  }
}

@media screen and (max-width: 1024px) {
  #about-me .skill-list {
    grid-template-columns: 1fr;
    grid-auto-rows: 1.8rem;
  }
}

@media screen and (max-width: 750px) {
  nav ul li {
    display: none;
  }

  #home-page div,
  #about-me li,
  #experience li,
  #portfolio ul li {
    min-width: 350px;
  }

  #portfolio ul li {
    max-width: 500px;
  }

  h1 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 900;
  }

  h2 {
    font-size: 2rem;
    text-align: center;
  }

  h3 {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
  }

  h4 {
    font-size: 2rem;
    padding-bottom: 1.2rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  #portfolio ul {
    padding: 2rem 2rem;
  }

  #portfolio .read-more {
    font-size: 1rem;

    padding: 0.5rem 4rem;
  }
}

@media screen and (max-width: 410px) {
  h1 {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 900;
  }

  h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  h3 {
    font-size: 1.1rem;
    padding-bottom: 1rem;
  }

  h4 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }

  p {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  .logo {
    font-weight: 900;
    font-size: 1.3rem;
  }

  #home-page div,
  #about-me li,
  #experience li,
  #portfolio ul li {
    min-width: 250px;
  }

  #portfolio .read-more {
    font-size: 0.8rem;

    padding: 0.5rem 2.5rem;
  }

  #portfolio .github-repo {
    font-size: 0.8rem;
  }
}
